// This is for CourseComponent1, CourseComponent2
.courseContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    p {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.05em;
        color: t.$content-secondary;
        margin: 0;
    }
    .courseProgressBar {
        width: 100%;
        height: 7px;
        background-color: t.$surface-muted;
        border-radius: 5px;
        margin-top: 2rem;
    }
    .courseProgressBarFill {
        height: 100%;
        background-color: t.$action-primary;
        border-radius: 5px;
    }
    
    .courseDescription {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 1rem;
        color: t.$content-secondary;
        margin-top: 0.5rem;
        .courseRating {
            font-size: 0.9rem;
            font-weight: 500;
            color: t.$content-primary;
        }
        .courseLightText {
            color: t.$content-placeholder;
        }
    }
    .horizontalDivider {
        margin: 0rem 0 0.7rem -1rem;
        width: calc(100% + 2rem);
        border: 1px dashed t.$border-default;
    }
    .courseFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .shareIcon {
            cursor: pointer;
        }
    }
    .courseButton {
        cursor: pointer;
        width: 50%;
        max-width: 200px;
        background-color: t.$action-primary;
        color: white;
        padding: 0.5rem 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        transition: background-color 0.3s ease;
        img {
            margin-left: 0.3rem;
        }
        &:hover {
            background-color: #4983FF;
        }
    }
}