
.postListContainer {
    width: 100%;
    h1 {
        font-size: 1.8rem;
        font-weight: 550;
        margin-left: 1.2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        letter-spacing: 0.02em;
    }
    .postList {
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-top: 1.5rem;
        .postItem {
            background-color: t.$content-on-color;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            border-radius: 1rem;
            border: 1px solid t.$border-default;
            padding: 1.5rem 1.5rem 1rem 1.5rem;
            .postItemContent {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                .postItemContentHeader {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    letter-spacing: 0.02em;
                    h2 {
                        font-size: 1.3rem;
                    }
                    p {
                        margin-left: 0.5rem;
                        font-size: 0.8rem;
                        color: t.$content-placeholder;
                    }
                    .spacer {
                        flex: 1;
                    }
                }
                .postItemActionsInstructor {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    // gap: 1rem;
                    .courseHeaderInstructorImage {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 1px solid t.$border-default;
                    }
                    .courseHeaderInstructor {
                        margin-left: 1rem;
                        h1 {
                            font-size: 1rem;
                            font-weight: 400;
                            margin: 0;
                            color: t.$content-primary;
                        }
                        p {
                            font-size: 0.95rem;
                            color: t.$content-secondary;
                            margin: 0;
                        }
                    }
                }
                .postItemActionsPostType {
                    font-size: 0.8rem;
                    background-color: #C3DAFE;
                    color: #7F9CF5;
                    padding: 0.2rem 0.8rem;
                    border-radius: 0.5rem;
                    margin-left: 1.2rem;
                }
                .postItemContentBody {
                    display: flex;
                    flex-direction: row;
                    p {
                        font-size: 1.1rem;
                        color: t.$content-secondary;
                    }
                }
            }
            .postItemFooter {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .postItemActionsActions {
                        display: flex;
                        flex-direction: row;
                        gap: 3rem;
                        .postItemActionsActionsItem {
                            display: flex;
                            flex-direction: row;
                            gap: 0.2rem;
                            align-items: center;
                            color: t.$content-placeholder;
                            img {
                                cursor: pointer;
                            }   
                            .message {
                                color: t.$action-primary;
                            }
                        }
                        
                }
                .spacer {
                    flex: 1;
                }
                a {
                    color: t.$action-primary;
                    text-decoration: none;
                    margin-left: 0.5rem;
                    cursor: pointer;
                }

            }
        }
    }

}